<div>
    <h1>Pruebas Unitarias</h1>
    <h2>Las tres leyes del DGP</h2>
    <p>Todos sabemos que el DGP nos pide que primero creemos las pruebas de
        unidad, antes que el código de producción. Pero esa norma es sólo la punta
        del iceberg. Tenga en cuenta las tres siguientes leyes</p>
    <ul>
        <li>
            <p> <span>Primera ley: </span> No debe crear código de producción hasta que haya creado
                una prueba de unidad que falle.</p>
        </li>
        <li>
            <p><span>Segunda ley: </span> No debe crear más de una prueba de unidad que baste
                como fallida, y no compilar se considera un fallo.</p>
        </li>
        <li>
            <p><span>Tercera ley: </span> No debe crear más código de producción que el necesario
                para superar la prueba de fallo actual.</p>
        </li>
    </ul>

    <h2>F.I.R.S.T.</h2>
    <ul>
        <li>
            <p><span>Rapidez (Fast):</span> deben ser rápidas y ejecutarse de forma
                rápida.</p>
        </li>
        <li>
            <p><span>Independencia (Independent):</span> Las pruebas no deben depender entre
                ellas.</p>
        </li>
        <li>
            <p><span>Repetición (Repeatable):</span> Las pruebas deben poder repetirse en cualquier
                entorno. Debe poder ejecutarlas en el entorno de producción, en el de calidad
                y en su portátil de camino a casa en un tren sin red.</p>
        </li>
        <li>
            <p><span>Validación automática (Self-Validating):</span> Las pruebas deben tener un
                resultado booleano: o aciertan o fallan.</p>
        </li>
        <li>
            <p><span>Puntualidad (Timely):</span> Las pruebas deben crearse en el momento preciso:
                antes del código de producción que hace que acierten.</p>
        </li>
    </ul>
</div>