<div>
    <h1>Concurrencia</h1>
    <p>“Los objetos son abstracciones de procesamiento.
        Los subprocesos son abstracciones de programaciones”.
        <span> —James O. Coplien </span>
    </p>
    <p>La concurrencia es una estrategia de desvinculación. Nos permite desvincular
        lo que se hace de dónde se hace. En aplicación de un solo proceso, el qué y el
        cuándo están tan firmemente vinculados que el estado de la aplicación se
        puede determinar analizando la huella de la pila.</p>

</div>