<div>
    <h1>La función del formato</h1>
    <p>El formato de código es importante,
        demasiado importante como para ignorarlo y también demasiado importante
        como para tratarlo de forma religiosa. El formato del código se basa en la
        comunicación y la comunicación debe ser el principal pilar de un
        desarrollador profesional.</p>
    <p>El estilo del código y su
        legibilidad establecen los precedentes que afectan a la capacidad de
        mantenimiento y ampliación mucho después de que el código cambie. Su
        estilo y su disciplina sobrevivirán, aunque el código no lo haga.</p>
    <p>¿Qué significa todo esto? Aparentemente se pueden crear sistemas
        (FitNesse se aproxima a las 50 000 líneas) a partir de archivos de unas 200
        líneas de longitud, con un límite máximo de 500. Aunque no debería ser una
        regla, es un intervalo aconsejable. Los archivos de pequeño tamaño se
        entienden mejor que los grandes.</p>

    <h2>Apertura vertical entre conceptos</h2>
    <p>La práctica totalidad del código se lee de izquierda a derecha y de arriba a
        abajo. Cada línea representa una expresión o una cláusula, y cada grupo de
        líneas representa un pensamiento completo. Estos pensamientos deben
        separarse mediante líneas en blanco.</p>

    <h2>Funciones dependientes</h2>
    <p>Si una función invoca otra, deben estar verticalmente próximas, y la función
        de invocación debe estar por encima de la invocada siempre que sea posible.
        De este modo el programa fluye con normalidad.</p>

    <h2>Afinidad conceptual</h2>  
    <p>Determinados conceptos de código deben estar próximos a otros. Tienen una
        afinidad conceptual concreta. Cuanto mayor sea esta afinidad, menor
        distancia vertical debe existir entre ellos.</p>  
</div>