<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No te repitas a ti mismo</title>
</head>

<body>
    <h1>Principio DRY</h1>
    <h2>No te repitas a ti mismo</h2>
    <p>"Si quieres ser un programador productivo esfuerzate en escribir código legible". <span>Robert C. Martin</span>
    </p>

    <p>Simplemente es evitar tener duplicidad de código.</p>
    <p>Ayuda a centralizar procesos</p>
    <p>Usualmente lleva a refactorizar</p>
    <p>simplifica las pruebas</p>
</body>

</html>