<div>
    <h1>Procesar errores</h1>
    <p>Las entradas pueden ser incorrectas y los dispositivos
        pueden fallar, y cuando lo hacen, los programadores somos responsables de
        comprobar que el código hace lo que debe hacer.</p>
    <h2>Usar excepciones en lugar de códigos devueltos</h2>
    <p>Comprobará que es mucho más limpio. No es cuestión de estética. El
        código es mejor porque se solventan dos preocupaciones: el algoritmo para
        apagar el dispositivo y el control de errores ahora se encuentran separados.</p>
    <h2>Crear primero la instrucción try-catch-finally</h2>
    <p>Los bloques try son como las transacciones, catch debe salir del
        programa en un estado coherente, independientemente de lo que suceda en

        try. Por este motivo, es aconsejable iniciar con una instrucción try-catch-
        finally el código que genere excepciones. De este modo define lo que debe

        esperar el usuario del código, independientemente de que se produzca un
        error en el código ejecutado en la cláusula try.</p>
</div>