<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre Segun la clase</title>
</head>

<body>
    <h1>Nombres de clases</h1>
    <p>El nombre es lo más importante de la clase por ende no puede ser generico</p>
    <p>Formados por un sustantivo o frases de sustantivo</p>
    <p>Si no tiene sentido, remuevelo o refactoriza</p>
    <p>recuerda más palabras no es igual a mejor nombre</p>

    <h2>3 preguntas para determinar un buen nombre</h2>

    <ul>
        <li>¿Qué exactamente hace la clase?</li>
        <li>¿Cómo exactamente esta clase realiza cierta tarea?</li>
        <li>¿Hay algo específico sobre su ubicación?</li>
    </ul>

    <h2>Ejemplo</h2>
    <h3>Malos</h3>
    <pre>
    class Manager {};
    class Data {};
    class Info {};
    class Individual {};
    class Processor{};
    class SpecialMonsterView {};
    </pre>

</body>

</html>