<div>
    <h1>Objetos y estructuras de datos</h1>
    <p>Para ocultar la implementación no basta con añadir una capa de
        funciones entre las variables. Se basa en la abstracción. Una clase no fuerza
        sus variables a través de métodos de establecimiento y recuperación. Por el
        contrario, muestra interfaces abstractas que permiten a sus usuarios manipular
        la esencia de los datos sin necesidad de conocer su implementación.</p>
    <p>El código por procedimientos (el que usa estructuras de datos)
        facilita la inclusión de nuevas funciones sin modificar las estructuras
        de datos existentes. El código orientado a objetos, por su parte,
        facilita la inclusión de nuevas clases sin cambiar las funciones
        existentes.</p>
    <p>El código por procedimientos dificulta la inclusión de nuevas
        estructuras de datos ya que es necesario cambiar todas las funciones.
        El código orientado a objetos dificulta la inclusión de nuevas
        funciones ya que es necesario cambiar todas las clases.</p>
    <p>Los programadores experimentados saben que la idea de que todo es un
        objeto es un mito. En ocasiones solamente queremos sencillas estructuras de
        datos con procedimientos que operen en las mismas.</p>    
    <p>En un sistema, en ocasiones necesitaremos la flexibilidad de añadir
        nuevos tipos de datos, por lo que preferimos objetos para esa parte del
        sistema. En otros casos, querremos añadir nuevos comportamientos, para lo
        que preferimos tipos de datos y procedimientos en esa parte del sistema. Los
        buenos programadores de software entienden estos problemas sin prejuicios y
        eligen el enfoque más adecuado para cada tarea concreta.</p>    
</div>